#home {
  .btn {
    @apply bg-secondary hover:bg-hover text-white hover:text-white;
  }

  // ========== HERO ==========
  #hero {
    @apply items-center;
    background-color: hsl(25deg 33% 93%);

    .bg {
      @apply items-center;
      background-image: url('https://res.cloudinary.com/dr24pbwrs/image/upload/v1641386413/krasnobaeva.com/homepage/hero-bg_ehoz4r.jpg');
      background-position: 17% center;
      background-repeat: no-repeat;
      min-height: 600px;
      max-width: 1240px;
      min-width: 320px;
      width: 100%;
    }

    .textbar {
      @apply bg-white px-2 py-12 sm:p-12 mr-0 md:mr-16 h-min items-center justify-self-center lg:justify-self-end;
      background-color: hsl(180 5% 95%);

      svg {
        @apply h-[30px] md:h-[40px];
      }
      h3 {
        @apply uppercase font-light font-cond text-lg md:text-xl mb-4;
      }
      .features {
        @apply grid-flow-col gap-4 mt-8;
      }
      h4 {
        @apply text-base uppercase text-secondary text-center font-normal;
      }
    }
  }
  // ========== /HERO ==========

  // ========== STORY ==========
  #story {
    .group {
      .imgbar {
        max-width: 500px;
        min-width: 320px;
        width: 100%;
      }

      .textbar {
        h4 {
          @apply text-secondary;
        }
      }
    }

    .group:nth-child(odd) {
      // even - четный
      // odd - нечетный
      .imgbar {
        @apply md:order-2;
      }

      .textbar {
        @apply md:order-1;
      }
    }
  }
  // ========== /STORY ==========

  // ========== INTENSIV ==========
  #intensiv {
    background-color: hsl(25deg 33% 93%);

    .group:nth-child(odd) {
      // even - четный
      // odd - нечетный
      .imgbar {
        @apply md:order-2;
      }

      .textbar {
        @apply md:order-1;
      }
    }
  }
  // ========== /INTENSIV ==========
}
