#post {
  // ========== VAR ==========
  .btn {
    @apply bg-sky-600 hover:bg-sky-800 text-white hover:text-white text-base md:text-lg mb-5;
  }

  section {
    padding-top: 0;
    padding-bottom: 0;
  }

  // ========== /VAR ==========

  .heading {
    background-color: hsl(25 33% 93%);

    picture {
      @apply mb-2;
    }
  }

  .content {
    @apply mb-20;
    // INFO
    .info {
      @apply items-center my-5 md:my-10 md:gap-12 mx-2;

      .avatar {
        @apply items-center gap-2 text-black hover:text-hover mb-10 md:mb-0 text-lg font-display justify-items-center;

        img {
          @apply rounded-full mr-2;
          height: auto;
          width: 80px;
        }
      }

      .social {
        @apply mr-2;

        h4.title {
          @apply text-sm font-bold font-display uppercase mb-2;
        }

        img {
          width: 45px;
          height: auto;
        }

        .social-link {
          @apply gap-2;
          a {
            @apply hover:opacity-70;
          }
        }
      }

      .tags {
        .tag-icon {
          width: 25px;
          height: auto;
        }

        a {
          @apply text-black hover:text-hover uppercase font-normal font-display;
        }
      }
    }
    // /INFO

    h1,
    h2,
    h3,
    h4 {
      @apply mb-2 px-4 font-cond;
    }

    h1 {
      @apply text-4xl sm:text-[2.5rem] mt-10 mb-6 max-w-[900px];
    }

    h2 {
      @apply text-xl sm:text-3xl text-left justify-self-start;
    }

    h3 {
      @apply text-lg sm:text-xl text-left justify-self-start;
    }

    .text {
      max-width: 900px;
      min-width: 288px;
      width: 100%;
      font-size: 17px;

      img {
        @apply my-10 mx-auto;
        width: auto;
        max-height: 768px;
      }

      p {
        @apply px-4 justify-self-start;
        line-height: 160%;
      }

      ul {
        @apply justify-self-start;
        margin-left: 20px;
        margin-bottom: 20px;
      }
    }
  }
}
