#posts {
  h1 {
    @apply font-bold text-3xl my-9;
  }

  .posts {
    @apply mx-0 xs:mx-1 sm:mx-2 md:mx-4 2xl:mx-10;

    .post {
      @apply rounded relative hover:shadow-lg h-min justify-items-start border-none sm:border-2 sm:border-solid sm:border-[#d9d9d9];

      h2,
      p {
        @apply px-5;
      }

      img {
        @apply hover:opacity-95;
      }

      h2 {
        @apply font-sans font-semibold text-xl text-black hover:text-hover mt-4 mb-2;
      }

      p {
        @apply justify-self-start m-0 text-base;
      }

      .btn {
        @apply text-primary-base hover:text-primary-dark px-6 py-1 mt-2 mb-5 justify-self-start;
      }

      .tags {
        @apply absolute bg-primary-base hover:bg-primary-dark px-2 py-1 rounded font-light text-sm;
        top: 5px;
        right: 5px;
        height: auto;

        a {
          @apply text-white;
        }
      }
    }
  }
}
