#course-cardigan {
  // ========== MAIN ==========

  .swiper-pagination-bullet-active {
    @apply bg-[#8A2727];
  }

  .btn {
    @apply bg-[#8A2727] text-base text-white hover:bg-[#C73838] hover:text-white md:text-lg;
  }
  // ========== /MAIN ==========

  // ========== HEADER ==========
  #header {
    @apply justify-center;
    background-color: #f9f0ee;
  }
  // ========== /HEADER ==========

  // ========== HERO ==========
  #hero {
    #textbar {
      @apply content-center;
    }

    h2 {
      line-height: 140%;
    }

    li {
      @apply text-white;
    }

    ul {
      @apply justify-items-start gap-5;
    }
    .divider {
      @apply bg-[#E7CEC7];
    }
  }

  // ========== HERO ==========

  // ========== FEATURES ==========
  #features {
    @apply grid-cols-1 items-start justify-center
	 gap-4 py-8
	 xs:grid-cols-2 md:grid-cols-4
	 md:gap-4 md:py-14;

    .divider {
      @apply bg-[#BE9885];
      top: 48%;
      height: 2px;
    }

    .card {
      @apply z-10 max-w-[350px] grid-flow-row items-start justify-items-center gap-5 font-display;
      border: none;
    }

    .num {
      @apply font-display text-5xl font-thin;
    }

    .text {
      @apply justify-items-center text-center;

      h4 {
        @apply mb-2;
      }
    }

    h4 {
      @apply grid font-display text-xl font-semibold;
      line-height: 110%;
    }
  }

  // ========== /FEATURES ==========

  // ========== CAROUSEL ==========
  #carousel {
    padding-top: 10px;
    padding-bottom: 0px;

    .card {
      border: none;
      margin: 0;
      padding: 0 4px;
      cursor: pointer;
    }
  }
  // ========== CAROUSEL ==========

  // ========== STORY ==========
  #story {
    header {
      h2 {
        @apply text-center text-4xl text-[#89736D] xs:text-5xl;
      }
    }

    .group {
      .imgbar {
        max-width: 500px;
        min-width: 320px;
        width: 100%;
      }

      .textbar {
        .title {
          @apply items-center xs:grid-flow-col;

          img {
            height: 50px;
            width: auto;
            margin-right: 20px;
          }
          h3 {
            @apply mb-1 text-3xl font-semibold text-[#89736D];
          }
        }
      }
    }

    .group:nth-child(even) {
      // even - четный
      // odd - нечетный
      .imgbar {
        @apply md:order-2;
      }

      .textbar {
        @apply md:order-1;
      }
    }
  }
  // ========== /STORY ==========

  // ========== BENEFIT ==========
  #benefit {
    header {
      h2 {
        @apply text-center text-4xl text-[#89736D] xs:text-5xl;
      }
    }

    .content {
      @apply items-start;

      .group {
        @apply mb-8;

        .title {
          img {
            height: 64px;
            width: 64px;
          }

          h3 {
            @apply mb-3 justify-items-start text-2xl font-semibold text-[#89736D];
          }
        }

        p {
          @apply px-4 text-center;
        }
      }
    }
  }
  // ========== /BENEFIT ==========

  // ========== /ABOUT ==========
  #about {
    @apply items-start justify-start justify-items-start
	pb-0;
    .group {
      @apply gap-8 pb-8;
      .imgbar {
        @apply justify-self-end;

        img {
          max-height: 768px;
          width: auto;
        }
      }
      .textbar {
        @apply justify-items-start;
        img {
          @apply justify-self-start;
          height: 30px;
          width: auto;
        }
      }
    }

    .elipse {
      @apply justify-self-center;
    }
  }
  // ========== /ABOUT ==========

  // ========== ACHIEVES ==========
  #achieves {
    h2 {
      @apply text-center text-4xl text-white xs:text-5xl;
    }

    header p {
      @apply mb-4;
    }

    p {
      @apply mb-0;
    }

    .content {
      .group {
        @apply grid-flow-col items-center gap-2 px-4;
        max-width: 450px;

        h4 {
          @apply text-5xl font-medium text-[#65534F] sm:text-5xl md:text-7xl;
        }

        p {
          @apply text-xl text-white;
        }
      }
    }

    .content2 {
      max-width: 900px;

      .textbar {
        max-width: 900px;

        p {
          @apply text-xl;
        }
      }

      span {
        @apply font-medium text-gray-300;
        max-width: 900px;
      }
    }
  }
  // ========== /ACHIEVES ==========

  // ========== COMMUNITY ==========
  #community {
    header {
      h2 {
        @apply text-center text-4xl xs:text-5xl;
      }
    }

    .content {
      .group {
        @apply mx-2 max-w-sm items-start justify-items-center text-center;
        border: 2px solid white;

        img {
          @apply mt-[-40px] h-[87px] w-auto;
        }

        h3 {
          @apply pb-3 text-2xl font-semibold;
        }

        p {
          @apply px-4 pb-4 text-center;
        }
      }
    }
  }
  // ========== /COMMUNITY ==========

  // ========== REVIEWS  ==========
  #reviews {
    header {
      h2 {
        @apply text-center text-4xl text-[#89736D] xs:text-5xl;
      }
    }
    p {
      @apply mb-2 text-base;
    }
    .card {
      cursor: pointer;
      border: 1px solid #89736d;

      .avatar {
        .name {
          @apply text-[#89736D];
        }
      }
      .msg a {
        @apply text-[#89736D] hover:text-hover;
      }
    }
  }
  // ========== /REVIEWS ==========

  // ========== PROGRAM ==========
  #program {
    header {
      h2 {
        @apply text-center text-4xl text-[#89736D] xs:text-5xl;
      }

      p {
        @apply mb-3;
      }
    }

    .tabs {
      h3 {
        @apply text-[#89736D];

        .num {
          @apply font-sans text-4xl font-extralight;
        }
        .lesson {
          @apply font-sans text-2xl font-light;
        }

        .title {
          @apply px-4;
        }
      }
    }

    .tab-label .arrow::after {
      @apply text-[#89736D];
    }

    .tab-content {
      @apply text-base;
    }
  }
  // ========== /PROGRAM ==========

  // ========== PRICE ==========
  #price {
    .content {
      @apply mx-3 mt-0 mb-16 max-w-[700px] bg-[#f5f5f5] px-4 px-7 py-5 shadow-2xl;
      border: 2px solid hsl(0 0% 90%);

      header {
        h4 {
          @apply text-4xl font-extralight uppercase;
        }

        h3 {
          @apply font-display text-2xl font-bold;
        }
      }

      ul {
        @apply items-start;

        .wrap {
          @apply justify-items-start;
        }

        li {
          @apply mb-5 grid list-none grid-flow-col justify-start text-xl;
        }

        .icon {
          @apply mr-3 h-[50px] w-auto;
        }
      }

      .pricebar {
        @apply mt-20;

        .value,
        .discount {
          @apply font-display text-3xl font-extralight;
        }
      }
    }
  }
  // ========== /PRICE ==========
}
