---
layout: 404-layout.njk
permalink: 404.html
eleventyExcludeFromCollections: true
title: Страница не найдена
description: Перейдите на главную страницу сайта и поищите там. Возможно эта страница была перенесана в другой раздел
---
<article>
	{# CONTENT #}
	<div class="content my-20 w1200">
		{# TITLE #}
		<h1 class="mb-8 text-3xl">{{ title }}</h1>
		{# /TITLE #}

		<div class="text">
			<p class="text-center px-4">Такой страницы не существует. Советуем перейти на <a href="/">Главную&nbsp;страницу</a> и поискать там 😊</p>
		</div>
	</div>
	{# /CONTENT #}
</article>