---
layout: page-layout.njk
permalink: /about/
title: Обо мне или кто такая Александра Краснобаева
description: Меня зовут Александра Краснобаева. Я та самая блогер, которая вяжет одежду, проводит онлайн-курсы для женщин и излучает позитив на весь мир
thumb: https://res.cloudinary.com/dr24pbwrs/image/upload/v1642443910/krasnobaeva.com/about/1_nobbpa.jpg
---
<article>
	{# HEADING #}
	<section class="heading w1200">
		{# THUMB #}
		{% image thumb,
		'',
		title %}
		{# /THUMB #}
	</section>
	{# /HEADING #}

	{# CONTENT #}
	<div class="content w1200">

		{# TITLE #}
		<h1>{{ title }}</h1>
		{# /TITLE #}

		{# TEXT #}
		<div class="text">
			<p>Я родилась 8 декабря в 1990 году в маленьком крымском городке Белогорске. А сейчас живу в столице Крыма Симферополе.</p>
			<h2>Моё образование</h2>

			{% image 'https://res.cloudinary.com/dr24pbwrs/image/upload/v1642443911/krasnobaeva.com/about/2_c7xqfu.jpg',
			'',
			title %}
			<p>С детства я увлекалась творчеством, вязанием, музыкой. Закончила школу с золотой медалью, музыкальную школу на отлично, а затем Таврический Национальный Университет по специальности переводчик славянских языков с красным дипломом.</p>

			<h2>Моя первая работа</h2>

			{% image 'https://res.cloudinary.com/dr24pbwrs/image/upload/v1642443912/krasnobaeva.com/about/3_zfs0br.jpg',
			'',
			title %}

			<p>После учебы передо мной встал тяжелый выбор, куда идти дальше и что вообще делать. Наверное, такой страх встает перед каждым выпускником. Я не растерялась и стала применять все свои навыки, полученные на протяжении жизни. Сначала я начала работать копирайтером на биржах статей, но быстро поняла, что это труд колоссальный, а отдача очень маленькая, хотя заказы сыпались пачками, так как высшее филологическое образование давало о себе знать. Но в какой-то момент мне такая работа надоела, и я решила попробовать вязать одежду на продажу.</p>

			<p>Вязанию я посвятила практически всю жизнь. Еще с детства мама передавала все свои знания, что в итоге вылилось в целый бренд одежды, но об этом потом. Так я связала первую вещь и попробовала ее продать на просторах интернета, и мне это удалось, я до сих пор вспоминаю свою первую заказчицу, с которой даже поддерживаю связь. Это было в далеком 2012 году.</p>

			<h2>Первые вязальные заказы и найм сотрудников</h2>

			{% image 'https://res.cloudinary.com/dr24pbwrs/image/upload/v1642443913/krasnobaeva.com/about/4_dqasxi.jpg',
			'',
			title %}

			<p>Потекли первые вязальные заказы, их было много, что создавало проблемы, потому что одними руками охватить все заказы невозможно, а работать на износ долго никто не сможет. Поэтому решено было нанимать новых сотрудников в команду, это был потрясающий опыт. Благо, советская школа научила вязать практически всю женскую половину и до сих пор девочек в школе обучают вязать, поэтому вязальщиц найти было не сложно, хотя отбор был жестким. В итоге была собрана замечательная команда, так как мы сначала выбирали человека, а потом мастера, ведь невозможно работать с человеком, которому не доверяешь или который тебе не нравится.</p>

			<h2>Кто придумал название бренда Asivia (теперь KRASNOBAEVA)</h2>

			{% image 'https://res.cloudinary.com/dr24pbwrs/image/upload/v1642443914/krasnobaeva.com/about/5_ivkpcq.jpg',
			'',
			title %}

			<p>Бытуют разные версии того, как на свет появилось название нашего бренда Asivia (после ребрендинга в 2020 стал KRASNOBAEVA). Кто-то говорит, что это аббревиатура из имен основателей, но есть и другая версия. На самом деле в далеком-предалеком прошлом я решила завести свой персональный блог, некогда было модно вести личный блог. Однако главной проблемой для меня оказалось придумать название блога, но меня выручил Александр, он очень хорошо умел придумывать слова, которых ранее не существует на планете, так появилось на свет название Asivia и оно до сих пор является уникальным словом во всем мире.</p>

			<h2>Кто создает новые коллекции одежды бренда Asivia</h2>

			{% image 'https://res.cloudinary.com/dr24pbwrs/image/upload/v1642443915/krasnobaeva.com/about/6_v7fomf.jpg',
			'',
			title %}

			<p>Единственным и бессменным модельером всех коллекций бренда Asivia являюсь я, Александра Краснобаева. Признаюсь, всю жизнь мечтала заниматься чем-то подобным, творить без ограничений, дарить это творчество людям и при этом зарабатывать любимым делом. Я всегда стараюсь воплощать свои идеи в жизнь, и бренд одежды не стал исключением.</p>

			<h2>Бесплатные уроки вязания</h2>

			{% image 'https://res.cloudinary.com/dr24pbwrs/image/upload/v1642443916/krasnobaeva.com/about/7_fen66c.jpg',
			'',
			title %}

			<p>Сегодня я могу назвать себя мастером в вязальном деле, имею за своими плечами километры связанных и проданных изделий.</p>

			<p>Любой мастер в какой-то момент начинает задумываться о том, чтобы передать свои знания другим, у меня это чувство назрело в раннем возрасте. И я стала обучать людей профессиональному вязанию как для себя, так и на продажу. Как оказалось, коммерческим вязанием на профессиональном уровне мало, кто занимается.</p>

			<p>Я не могла обойти эту проблему стороной и стала выпускать ролики по вязанию на нашем Youtube-канале, где совершенно бесплатно передавала свой опыт. Мои ролики быстро полюбились вязальным сообществом, так как качественного и понятного материала на Youtube крайне мало и здесь я оказалась глотком свежего воздуха. Сейчас благодаря этим роликам меня знают практически все вязальщицы, и часто свое имя я встречаю в обсуждениях на тематических форумах. Еще одним подтверждением моей простоты подачи материала является естественный прирост подписчиков на Youtube и в Инстаграм без рекламы!</p>

			<h2>Интенсивы по вязанию с Александрой Краснобаевой</h2>

			{% image 'https://res.cloudinary.com/dr24pbwrs/image/upload/v1642443917/krasnobaeva.com/about/8_psvynb.jpg',
			'',
			title %}

			<p>Но я не остановилась на достигнутом и пошла дальше, то есть стала обучать людей вязанию индивидуально, что привело к появлению трехнедельных интенсивов по вязанию в прямых эфирах Инстаграм и в закрытых чатах Viber с персональной помощью всем участникам. Обычно на таких интенсивах аншлаг, и я с трудом успеваю всем помогать, но не отказываюсь от своего любимого дела, так как верю в большие перемены в вязальной среде.</p>

			<p>Другой причиной бешеной популярности моих вязальных интенсивов является свободный вход в них на основании пожертвований. То есть участники вносят любую сумму, которую захотят. Нет никакой обязательной платы и бешеных цен на уроки, каждый жертвует столько, сколько хочет.</p>

			<p>Это был успех, потому что добиться такого расположения у аудитории, чтобы девочки самостоятельно присылали мне крупные суммы, очень тяжело и возможно только при условии любви к своему делу!</p>
		</div>
		{# /TEXT #}

	</div>
	{# /CONTENT #}
</article>