---
id: course-cardigan
layout: promo.njk
css:
- swiper-bundle.min.css
- course-cardigan.css
js:
- swiper-bundle.min.js
- swiper.js
- readmore.js
permalink: /course-cardigan/
tags:
- promo
- Вязание
title: Курс Вяжем кардиган английской резинкой
description: Научитесь делать расчеты и вязать кардиган английской резинкой с цельновязанной планкой и карманами
thumb: https://res.cloudinary.com/dr24pbwrs/image/upload/q_auto,f_auto/v1641222509/krasnobaeva.com/course-cardigan/hero_jdudfb.jpg
---
{# ========== HERO ========== #}
<section id="hero" class="grid-cols-1 md:grid-cols-2 items-center w1200 bg-[#F9F0EE]">
	{# TEXTBAR #}
	<div class="mx-4 text-center textbar h-max">
		<h4 class="text-base md:text-lg font-medium uppercase text-[#C73838]">
			{# Скидка &minus;40% на курс до&nbsp;7&nbsp;октября</h4> #}
			<span class="my-6 divider"></span>
			<h3 class="font-display font-light text-xl md:text-xl items-end uppercase text-[#89736D]">Курс Александры Краснобаевой</h3>
			<h1 class="font-display font-bold text-5xl lg:text-6xl text-[#89736D]">"Вяжем кардиган с&nbsp;карманами"</h1>
			<h2 class="font-sans font-light text-xl sm:text-2xl mt-5 text-[#694339]">
				Научитесь делать расчеты и вязать кардиган английской резинкой с цельновязанной планкой и карманами
			</h2>
			<a class="grid mt-10 mb-4 btn" href="#price">Получить курс</a>
		</div>
		{# /TEXTBAR #}

		{# THUMBBAR #}
		<div class="mx-5 rounded-md thumbbar mb-14">
			{% image 'https://res.cloudinary.com/dr24pbwrs/image/upload/v1641222509/krasnobaeva.com/course-cardigan/hero_jdudfb.jpg', 'hidden md:grid', title %}
		</div>
		{# THUMBBAR #}
	</section>
	{# ========== /HERO ========== #}

	{# ========== FEATURES ========== #}
	<section id="features" class="bg-[#E7CEC7] relative w1200">
		<span class="absolute hidden divider md:inline"></span>
		<div class="card">
			<h4 class="num">01</h4>
			<div class="text">
				<h4>Сделаем расчеты</h4>
				<p>Научитесь делать расчеты на кардиган по вашим меркам из&nbsp;любой пряжи </p>
			</div>
		</div>

		<div class="card">
			<h4 class="num">02</h4>
			<div class="text">
				<h4>Свяжем кардиган</h4>
				<p>Изучите 6 этапов вязания, благодаря которым сможете вязать любое изделие любой сложности</p>
			</div>
		</div>

		<div class="card">
			<h4 class="num">03</h4>
			<div class="text">
				<h4>Пройдем урок по стилю</h4>
				<p>Научитесь подбирать одежду под вязаный кардиган</p>
			</div>
		</div>

		<div class="card">
			<h4 class="num">04</h4>
			<div class="text">
				<h4>Добавим в закрытое женское комьюнити</h4>
				<p>Присоединитесь к комьюнити по женскому саморазвитию и&nbsp;вязальному чату</p>
			</div>
		</div>

	</section>
	{# ========== /FEATURES ========== #}

	{# ========== CAROUSEL ========== #}
	<section id="carousel">
		<div class="content">
			{% set carousel = courseCardigan.carousel %}
			{% set classnameSwiper = "carousel2" %}
			{% include 'carousel.njk' %}
		</div>
	</section>
	{# ========== /CAROUSEL ========== #}

	{# ========== STORY ========== #}
	<section id="story" class="story w1200">
		{# HEADER #}
		<header>
			<h2>Что будет на&nbsp;курсе</h2>
			<p>Научитесь вязать изделие на себя, а не повторять за мастером. Сформируете полную картину реализации собственных идей в вязании, и больше не нужно будет искать мастер-классы. Станете свободным художником, потому что научитесь самостоятельно делать расчеты</p>
		</header>
		{# /HEADER #}

		{# CONTENT #}
		<div class="content">
			{# GROUP #}
			<div class="group">
				{% image 'https://res.cloudinary.com/dr24pbwrs/image/upload/v1643312027/krasnobaeva.com/course-cardigan/story-1_pycyip.jpg',
			'imgbar' %}
				<div class="textbar">
					<div class="title">
						<img src="https://res.cloudinary.com/dr24pbwrs/image/upload/v1643312037/krasnobaeva.com/course-cardigan/story-icon-1_kirb2v.png">
						<h3>Снятие мерок, рисование выкройки</h3>
					</div>
					<p>Cнимем мерки и нарисуем схематичное изображение выкройки. Разберемся с прибавками на свободное облегание. Узнаем, какие данные нужны для вязания мужского и детского кардигана. После урока сможете создавать изделия с разной посадкой: по фигуре, свободной или оверсайз</p>
				</div>
			</div>
			{# /GROUP #}

			{# GROUP #}
			<div class="group">
				{% image 'https://res.cloudinary.com/dr24pbwrs/image/upload/v1643312028/krasnobaeva.com/course-cardigan/story-2_h581yz.jpg',
			'imgbar' %}
				<div class="textbar">
					<div class="title">
						<img src="https://res.cloudinary.com/dr24pbwrs/image/upload/v1643312039/krasnobaeva.com/course-cardigan/story-icon-2_r8ysis.png">
						<h3>Вязание образцов, подбор спиц под пряжу</h3>
					</div>
					<p>Свяжем образцы так, чтобы в дальнейшем по ним делать максимально точные расчеты. Разберемся, сколько образцов нужно вязать и какого размера. Узнаем, как делать влажно-тепловую обработку образцов и правильно их сушить. После урока сможете подбирать диаметр спиц под пряжу</p>
				</div>
			</div>
			{# /GROUP #}

			{# GROUP #}
			<div class="group">
				{% image 'https://res.cloudinary.com/dr24pbwrs/image/upload/v1643312029/krasnobaeva.com/course-cardigan/story-3_ede9ap.jpg',
			'imgbar' %}
				<div class="textbar">
					<div class="title">
						<img src="https://res.cloudinary.com/dr24pbwrs/image/upload/v1643312039/krasnobaeva.com/course-cardigan/story-icon-3_vi407h.png">
						<h3>&laquoУниверсальная система расчетов&raquo Александры Краснобаевой</h3>
					</div>
					<p>Сделаем расчеты кардигана на свой размер под свою плотность вязания, пряжу и диаметр спиц. Разберемся с расчетами цельновязанной планки, карманов, V-образного и круглого вырезов, скоса плеча, рукава. Урок даст понимание, как делать расчеты и на другие модели. Сформируется база и появится навык для самостоятельного вязания без привязки к готовым описаниям</p>
				</div>
			</div>
			{# /GROUP #}

			{# GROUP #}
			<div class="group">
				{% image 'https://res.cloudinary.com/dr24pbwrs/image/upload/v1643312031/krasnobaeva.com/course-cardigan/story-4_x5jbtp.jpg',
			'imgbar' %}
				<div class="textbar">
					<div class="title">
						<img src="https://res.cloudinary.com/dr24pbwrs/image/upload/v1643312041/krasnobaeva.com/course-cardigan/story-icon-4_qh591x.png">
						<h3>Метод вязания по клеточкам Александры Краснобаевой</h3>
					</div>
					<p>Научитесь использовать авторский метод вязания по клеточкам Александры Краснобаевой, который позволяет смотреть кино и общаться с ребенком во время вязания. Больше не нужно считать ряды и петли, чтобы не запутаться. Не нужно бояться, что ребенок случайно обнулит счетчик рядов. Просто наслаждайтесь процессом вязания и не думайте о подсчетах</p>
				</div>
			</div>
			{# /GROUP #}

			{# GROUP #}
			<div class="group">
				{% image 'https://res.cloudinary.com/dr24pbwrs/image/upload/v1643312032/krasnobaeva.com/course-cardigan/story-5_cwuqlg.jpg',
			'imgbar' %}
				<div class="textbar">
					<div class="title">
						<img src="https://res.cloudinary.com/dr24pbwrs/image/upload/v1643312042/krasnobaeva.com/course-cardigan/story-icon-5_m5eab2.png">
						<h3>Поэтапный процесс вязания кардигана</h3>
					</div>
					<p>Освоите набор петель эластичным итальянским способом, вязание полой резинки и английской резинки, цельновязанной планки и кармана, круглого и V-образного выреза, скоса плеча, рукава, аккуратных прибавок в английской резинке. Видеоуроки очень подробные, большой опыт не нужен, достаточно знать, как вяжется лицевая и изнаночная петли</p>
				</div>
			</div>
			{# /GROUP #}

			{# GROUP #}
			<div class="group">
				{% image 'https://res.cloudinary.com/dr24pbwrs/image/upload/v1643312033/krasnobaeva.com/course-cardigan/story-6_xfhsn1.jpg',
			'imgbar' %}
				<div class="textbar">
					<div class="title">
						<img src="https://res.cloudinary.com/dr24pbwrs/image/upload/v1643312044/krasnobaeva.com/course-cardigan/story-icon-6_h7slv7.png">
						<h3>Влажно-тепловая обработка и сшивание кардигана</h3>
					</div>
					<p>Сделаем влажно-тепловую обработку всех вязаных деталей самым простым и надежным способом. Сошьем вязаное изделие иглой горизонтальным незаметным швом петля в петлю и вертикальным трикотажным швом. После урока сможете легко вязать сшивные изделия, так как полюбите процесс сшивания</p>
				</div>
			</div>
			{# /GROUP #}

			{# GROUP #}
			<div class="group">
				{% image 'https://res.cloudinary.com/dr24pbwrs/image/upload/v1643312035/krasnobaeva.com/course-cardigan/story-7_wyfvpk.jpg',
			'imgbar' %}
				<div class="textbar">
					<div class="title">
						<img src="https://res.cloudinary.com/dr24pbwrs/image/upload/v1643312045/krasnobaeva.com/course-cardigan/story-icon-7_oacy5k.png">
						<h3>Урок по стилю: с чем носить кардиган</h3>
					</div>
					<p>На бонусном уроке по стилю узнаем, как подбирать одежду под кардиган, а также сочетать его с разной цветовой гаммой. В уроке используются авторские модные образы Александры Краснобаевой</p>
					<a class="grid mt-10 mb-4 btn" href="#price">Получить курс</a>
				</div>
			</div>
			{# /GROUP #}
		</div>
		{# /CONTENT #}
	</section>
	{# ========== /STORY ========== #}

	{# ========== BENEFIT ========== #}
	<section id="benefit" class="bg-[#F9F0EE]">
		{# HEADER #}
		<header class="w1200">
			<h2>Почему нужно идти на курс</h2>
			<p class="mb-12">"Я хотела сделать такой курс, после которого мои ученики смогли бы вязать самостоятельно любое изделие. Также для меня важно было сделать удобный видеоформат обучения высокого качества", - Александра Краснобаева</p>
		</header>
		{# /HEADER #}

		{# CONTENT #}
		<div class="grid-cols-1 gap-5 px-4 content w1600 sm:grid-cols-2 md:grid-cols-3 md:px-8 lg:px-16">
			<div class="group">
				<div class="title">
					<img src="https://res.cloudinary.com/dr24pbwrs/image/upload/v1643317463/krasnobaeva.com/course-cardigan/benefit-1_haxvjb.png">
					<h3>Видеоуроки в HD&#8209;качестве</h3>
				</div>
				<p>Все видеоуроки записаны в HD&#8209;качестве с профессиональным звуком, чтобы вам было проще изучать материал</p>
			</div>

			<div class="group">
				<div class="title">
					<img src="https://res.cloudinary.com/dr24pbwrs/image/upload/v1643317467/krasnobaeva.com/course-cardigan/benefit-2_ghu8dj.png">
					<h3>Короткие уроки</h3>
				</div>
				<p>В среднем урок длится 18 минут на одну тему. Такой формат не переутомляет, а знания лучше усваиваются</p>
			</div>

			<div class="group">
				<div class="title">
					<img src="https://res.cloudinary.com/dr24pbwrs/image/upload/v1643317468/krasnobaeva.com/course-cardigan/benefit-3_a5skrj.png">
					<h3>Поэтапный процесс вязания</h3>
				</div>
				<p>Покажу весь процесс вязания каждой детали очень подробно, поэтому вопросов не останется после курса</p>
			</div>

			<div class="group">
				<div class="title">
					<img src="https://res.cloudinary.com/dr24pbwrs/image/upload/v1643317474/krasnobaeva.com/course-cardigan/benefit-4_lfifao.png">
					<h3>Макросъемка</h3>
				</div>
				<p>Процесс вязания деталей снят на макро-камеру, чтобы каждую петельку было видно</p>
			</div>

			<div class="group">
				<div class="title">
					<img src="https://res.cloudinary.com/dr24pbwrs/image/upload/v1643317475/krasnobaeva.com/course-cardigan/benefit-5_fxtr5a.png">
					<h3>Закрытые комьюнити</h3>
				</div>
				<p>После курса все ученики будут добавлены в закрытое женское комьюнити и вязальный чат. Подробнее ниже</p>
			</div>

			<div class="group">
				<div class="title">
					<img src="https://res.cloudinary.com/dr24pbwrs/image/upload/v1643317477/krasnobaeva.com/course-cardigan/benefit-6_vtixtu.png">
					<h3>Доступ к видео навсегда</h3>
				</div>
				<p>Видеокурс представляется навсегда и хранится надежно в облаке, поэтому можете не беспокоиться, что потеряете к нему доступ</p>
			</div>
		</div>
		{# /CONTENT #}
	</section>
	{# ========== /BENEFIT ========== #}

	{# ========== ABOUT ==========#}
	<section id="about" class="w1200">
		<div class="group grid-cols-1 md:grid-cols-2">
			<div class="imgbar hidden md:grid">
				<img class="img" src="https://res.cloudinary.com/dr24pbwrs/image/upload/v1643840440/krasnobaeva.com/course-cardigan/about_jdfjcb.jpg" alt="Александра Краснобаева - блогер, медиа-личность, вязание спицами, Крым">
			</div>

			<div class="px-4 textbar">
				<img class="mb-4" src="https://res.cloudinary.com/dr24pbwrs/image/upload/v1643387101/krasnobaeva.com/course-cardigan/quote_cb8hpp.png">
				<h4 class="text-2xl text-[#89736D]">Привет!</h4>
				<h2 class="text-4xl mb-6 text-[#89736D]">Меня зовут Александра Краснобаева</h2>
				<div>
					<p>Мне 31 год, я живу в Крыму. Я не помню, когда я начала вязать, потому что всю жизнь со спицами. Наверное, я родилась с ними в руках.</p>
					<p>С 2012 года вяжу на заказ, а 5 лет назад завела свой Ютуб канал и начала обучать вязанию в прямых эфирах. Я провожу знаменитые интенсивы по вязанию. У меня есть хештег #сашанасплохомуненаучит, где ученики публикуют свои работы и пишут отзывы.</p>
					<p>"С вами я полюбила расчеты!" - это то, что я слышу чаще всего. Я не пишу попетельные МК, а обучаю включать голову и понимать, как сделать расчеты на любой фасон, размер, пряжу и толщину спиц самостоятельно. Часто девочки у меня обучаются с нуля и уже больше не возвращаются к попетельным мастер-классам.</p>
					<p>Есть у меня еще две страсти: вышивка украшений из бисера и мода. Веду свой блог о вязаной одежде, о стильных сочетаниях и трендах. Создаю модные коллажи и публикую их у себя в инстаграме.</p>
					<p>Недавно наша жизнь изменилась. Я впервые стала мамой чудесной малышки Есении. Поэтому сейчас я вяжу не одна.</p>
				</div>
			</div>
		</div>
		<div class="elipse">
			{% include 'svg/circle.njk' %}
		</div>
	</section>
	{# ========== /ABOUT ========== #}

	{# ========== ACHIEVES ========== #}
	<section id="achieves" class="bg-[#BE9885]">
		{# HEADING #}
		<header class="w1200">
			<h2>О моих достижениях в цифрах</h2>
			<p>Если вы тут, значит уже знаете меня. Но все равно хочу поделиться своими личными достижениями в жизни, чтобы дать вам больше мотивации развиваться и достигать большего вместе со мной</p>
		</header>
		{# /HEADING #}

		{# CONTENT #}
		<div class="grid-cols-1 gap-10 mb-16 content sm:grid-cols-2 justify-items-start sm:justify-items-center">

			<div class="group">
				<h4>20</h4>
				<p>лет вяжу спицами и 10 лет профессионально</p>
			</div>

			<div class="group">
				<h4>5</h4>
				<p>лет обучаю вязанию</p>
			</div>

			<div class="group">
				<h4>80<span class="text-2xl sm:text-4xl mt-[-12px]">тыс.</span></h4>
				<p>подписчиков собрала в общем на Youtube и Instagram без вложений, только на контенте</p>
			</div>

			<div class="group">
				<h4>500</h4>
				<p>изделий связала на заказ</p>
			</div>

			<div class="group">
				<h4>17</h4>
				<p>интенсивов провела в прямом эфире, обучая вязанию</p>
			</div>

			<div class="group">
				<h4>3500+</h4>
				<p>учеников прошли мое обучение</p>
			</div>
		</div>
		{# /CONTENT #}

		{# CONTENT2 #}
		<div class="content2">
			<h3 class="mb-4 text-2xl">А также:</h3>
			<div class="grid-cols-2 gap-5 px-4 text-base textbar justify-items-start sm:text-lg">
				<p>Создала <span>уникальный</span> метод вязания по&nbsp;клеточкам</p>
				<p>Написала <span>книгу</span> по&nbsp;вязанию спицами</p>
				<p>Участвовала как <span>спикер</span> и мастер в более 10 марафонах о рукоделии</p>
				<p>Выложила более 300 <span>бесплатных</span> видеоуроков по вязанию на своем Youtube-канале</p>
			</div>
		</div>
		{# /CONTENT2 #}
	</section>
	{# ========== /ACHIEVES ========== #}

	{# ========== COMMUNITY ========== #}
	<section id="community" class="bg-[#E7CEC7]">
		{# HEADER #}
		<header>
			<h2>Закрытое женское комьюнити</h2>
			<p>Я хочу создать комьюнити для женщин любого возраста, которые хотят заниматься саморазвитием. Где будет не только про вязание, но и про творчество, психологию, продвижение личного бренда и онлайн-бизнес</p>
		</header>
		{# /HEADER #}

		{# CONTENT #}
		<div class="grid-cols-1 px-8 content sm:grid-cols-2 md:grid-cols-3 gap-x-10 gap-y-16 w1200">
			{% set props = [
			{
				url: "community-1_rrg2jy.png",
				title: "Эксклюзивный контент",
				desc: "Будет публиковаться только в нашем закрытом комьюнити, в публичном доступе его никогда не будет. Подробнее в Комьюнити"
			},
			{
				url: "community-2_kzohht.png",
				title: "Помощь комьюнити",
				desc: "Комьюнити - это то место, где можно напрямую задать беспокоящий вопрос и получить ответ"
			},
			{
				url: "community-3_wm91qr.png",
				title: "Единомышленники",
				desc: "Наше комьюнити в первую очередь призвано объеденить женщин, которые стремятся к саморазвитию и хотят большего от жизни"
			},
			{
				url: "community-4_yefcae.png",
				title: "Анонсы новых проектов",
				desc: "О всех новых проектах сначала будет сообщаться тут, чтобы вы первыми могли в них принять участие"
			},
			{
				url: "community-5_iqfua0.png",
				title: "Бесплатно",
				desc: "Все участники моих курсов бесплатно попадают в закрытое женское комьюнити"
			},
			{
				url: "community-6_lw5td0.png",
				title: "Навсегда",
				desc: "Участники комьюнити остаются в нем навсегда, но важно соблюдать правила культурного общения в нем"
			}
			] %}

			{% set urls = "https://res.cloudinary.com/dr24pbwrs/image/upload/v1643398277/krasnobaeva.com/course-cardigan/" %}

			{% for prop in props %}
				<div class="group">
					<img src="{{ urls }}/{{ prop.url }}">
					<h3>{{ prop.title }}</h3>
					<p>{{ prop.desc }}</p>
				</div>
			{% endfor %}
		</div>
		{# /CONTENT #}

		{# FOOTER #}
		<footer>
			<a class="grid mt-10 mb-4 btn" href="#price">Получить курс</a>
		</footer>
		{# /FOOTER #}
	</section>
	{# ========== /COMMUNITY ========== #}

	{# ========== REVIEWS ========== #}
	<section id="reviews" class="bg-[#F9F0EE]">
		{# HEADING #}
		<header>
			<h2>Отзывы</h2>
			<p>Отзывы моих учеников по окончению обучения, их радость от того, что у них наконец получилось связать то, что они давно мечтали. Взято из Инстаграм по моему хештегу <span class="text-link-500">#СашаНасПлохомуНеНаучит</span></p>
		</header>
		{# /HEADING #}

		{# CONTENT #}
		<div class="content">
			{# CAROUSEL #}
			{% set carousel = courseCardigan.reviews %}
			{% set classnameSwiper = "swiperReview" %}
			{% include 'reviews.njk' %}
			{# /CAROUSEL #}

		</div>
		{# /CONTENT #}
	</section>
	{# ========== /REVIEWS ========== #}

	{# ========== PROGRAM ========== #}
	<section id="program" class="accordion w1200">
		{# HEADING #}
		<header>
			<h2>Программа курса</h2>
			<p>Курс состоит из 25 видеоуроков. В среднем урок длится 18 минут</p>
		</header>
		{# /HEADING #}
		{# TABS #}
		<div class="tabs">
			{# TAB #}
			{% for prop in courseCardigan.accordion %}
				{% include 'accordion.njk' %}
			{% endfor %}
			{# /TAB #}
		</div>
		{# /TABS #}
	</section>
	{# ========== /PROGRAM ========== #}

	{# ========== PRICE ========== #}
	<section id="price" class="w1200 bg-[#BE9885]">

		{# CONTENT #}
		<div class="content bg=[#F9F0EE] text-[#89736D]">
			<header>
				<h4>Тариф</h4>
				<h3>Единый</h3>
			</header>
			<div class="grid-cols-1 sm:grid-cols-2 justify-items-start">
				<ul class="wrap">
					<li>
						<img class="icon" src="https://res.cloudinary.com/dr24pbwrs/image/upload/v1643404093/krasnobaeva.com/course-cardigan/tariff-1_f5edfm.png">
				Доступ ко всему видеокурсу навсегда
			</li>
					<li>
						<img class="icon" src="https://res.cloudinary.com/dr24pbwrs/image/upload/v1643404093/krasnobaeva.com/course-cardigan/tariff-1_f5edfm.png">
					Надежное хранение видеоуроков в облаке
				</li>
				</ul>
				<ul class="wrap">
					<li>
						<img class="icon" src="https://res.cloudinary.com/dr24pbwrs/image/upload/v1643404093/krasnobaeva.com/course-cardigan/tariff-2_pypomd.png">
					Доступ в закрытое женское комьюнити в Telegram
				</li>
					<li>
						<img class="icon" src="https://res.cloudinary.com/dr24pbwrs/image/upload/v1643404093/krasnobaeva.com/course-cardigan/tariff-2_pypomd.png">
					Доступ в вязальный чат в Telegram
				</li>
				</ul>
			</div>

			{# PRICEBAR #}
			<div class="pricebar justify-self-center">
				{# <h4 class="mb-4 discount strike">4900 руб.</h4> #}
				{# <h4 class="mb-8 value">2900 руб.</h4> #}
				<h4 class="mb-4 discount">4900 руб.</h4>
				<a id="buy" type="submit" class="mb-4 btn" href="https://clck.ru/32LrYa" target="_blank" onclick="VK.Goal('conversion', {value: 4900})">Написать продавцу</a>
				<p class="remark text-center text-sm">Вы будете перенаправлены в Телеграм. Можно написать <a href="/contacts/">по другим контактам</a>
				</p>
				<p class="terms remark text-center text-sm text-gray-500">Нажимая кнопку "Написать продавцу", вы соглашаетесь с условиями <a href="#!">Пользовательского соглашения</a>
				</p>
			</div>
			{# /PRICEBAR #}
		</div>
		{# /CONTENT #}

		{# TOTOP #}
		<div class="totop">
			<a href="#header">
				<img src="/images/uparrow.png">
				<p>Наверх</p>
			</a>
		</div>
		{# /TOTOP #}
	</section>
	{# ========== /PRICE ========== #}