---
id: promo-page
layout: promo.njk
css:
- swiper-bundle.min.css
- course-cardigan.css
js:
- swiper-bundle.min.js
- swiper.js
- readmore.js
permalink: false
tags:
- promo
- sometags
title: 
description: 
thumb: 
---