{# RESPONSIVE MENU #}
<nav class="menu hidden md:grid">
	{% for prop in data.navUrl %}
		<a href="{{ prop.url }}" {% if page.url == prop.url %} aria-current="page"{% endif %}>{{ prop.text }}</a>
	{% endfor %}
</nav>

<nav class="resp-menu md:hidden">
	<input type="checkbox" id="hmt" class="hidden-menu-ticker">
	<label class="btn-menu" for="hmt">
		<span class="first"></span>
		<span class="second"></span>
		<span class="third"></span>
	</label>
	<ul class="hidden-menu">
		<div class="grid-flow-row">
			{% for prop in data.navUrl %}
				<a href="{{ prop.url }}">{{ prop.text }}</a>
			{% endfor %}
		</div>
	</ul>
</nav>
{# /RESPONSIVE MENU #}