.card {
  @apply justify-items-start gap-3 rounded-md;
  border: 2px solid hsl(0deg 0% 87%);
  background: hsl(0deg 0% 100%);
  margin: 0 5px;
  padding: 20px 20px;
}

.card .avatar {
  @apply grid-flow-col gap-4 justify-items-start items-start;
}

.card .avatar img {
  width: 75px !important;
  height: 75px !important;
  border-radius: 300px;
}

.card .name {
  @apply justify-items-start;
}

.card .fullname {
  @apply text-sm;
}

.card .nickname {
  @apply text-sm;
}
.card .from {
  @apply text-sm;
}

.card .msg {
  @apply text-sm;
}
